@font-face {
    font-family: 'lecitroncamordregular';
    src: url('./fonts/lecitroncamord-regular-webfont.eot');
    src: url('./fonts/lecitroncamord-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/lecitroncamord-regular-webfont.woff2') format('woff2'),
         url('./fonts/lecitroncamord-regular-webfont.woff') format('woff'),
         url('./fonts/lecitroncamord-regular-webfont.ttf') format('truetype'),
         url('./fonts/lecitroncamord-regular-webfont.otf') format('opentype'),
         url('./fonts/lecitroncamord-regular-webfont.svg#lecitroncamordregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px; /* Base pour rem calculations */
}

body {
    font-family: 'lecitroncamordregular', sans-serif;
    background-color: #fff4ad;
    font-size: 1rem; /* 16px */
    line-height: 1.5;
    display: flex;
    flex-direction: column;
}


.main-container {
    display: flex;
    flex-direction: column;
    margin-top: 65rem;
    min-height: 100vh;
}

.flex-grow-1 {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.background-fixed {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 5rem;
    background-image: url('../images/croquecitron.gif'); 
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center 30%;
    background-size: cover;
    background-attachment: fixed;
    transform: scale(1.25); /* Agrandit l'image de 10% */
    transform-origin: center; /* Centre le point de transformation */
}

.sidebar {
    background-color: #fff4ad;
    padding: 15px;
    min-height: 100vh;
    margin-top: -65rem;
}

.sidebar img, .sidebar-right img {
    max-width: 100%;
    height: auto;
}

.sidebar-right {
    position: fixed;
    top: 0;
    right: 0;
    padding: 15px;
    min-height: 100vh;
    box-sizing: border-box;
    z-index: 1000;
}

.sidebar-right img {
    display: block;
    max-width: 30%;
    margin-left: 10rem;
    margin-top: 3.5rem;
    height: auto;
}

.sidebar-right img {
    display: block;
    margin-left: 65%;
}

.section {
    border: 1px solid #3c0d9c; 
    border-radius: 10px;
    position: relative;
    margin-top: 2.5rem;
    width: 100%;
    
}

.custom-margin {
    align-items: center;
}

.ligne-bloc {
    font-family: 'lecitroncamordregular', sans-serif;
    padding-top: 3%;
    padding-bottom: 1.5%;
    font-size: 1.3em;
    font-weight: 500;
    text-align: center;
    color: #3c0d9c;
    line-height: 1.5;
}

.btn-custom, .btn-custom-color {
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: auto;
    min-height: 52px;
    transition: all 0.3s ease;
}

.btn-custom {
    border: 1px solid #3c0d9c;
    color: #3c0d9c;
    background-color: transparent;
    margin: 0.5rem;
}

.btn-custom:hover {
    background-color: #3c0d9c;
    color: #fff;
}

.btn-custom-color {
    background-color: #3c0d9c;
    color: #fff;
    border: none;
    margin: 0.5rem;
}

.btn-custom-color:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid #717171;
}

img {
    max-width: 100%;
    height: auto;
}

/* Positionnement de l'image en haut à gauche pour les versions responsives */
.img-responsive-top-left {
    position: absolute;
    top: 3rem; /* Ajustez la valeur selon vos besoins */
    left: 10px; /* Ajustez la valeur selon vos besoins */
    width: 10rem; /* Ajustez la taille de l'image selon vos besoins */
    z-index: 1000; /* Assurez-vous que l'image soit au-dessus des autres éléments */
}

.nav-link {
    color: #3c0d9c;
    align-items: center;
    font-size: 1.5em;
    font-family: 'lecitroncamordregular', sans-serif;
    margin-right: 3rem;
}

.nav-link:active {
    color: #3c0d9c;
    text-decoration: underline;
}

.nav-link:hover {
    color: #3c0d9c;
    text-decoration: underline;
}

.nav-link::after {
    color: #3c0d9c;
}

.navbar-nav {
    align-items: center;
    background-color: #fff4ad;
    margin-left: 10rem;
}

.navbar {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: #fff4ad;
}

.nav-item{
    color: #3c0d9c;
    align-items: center;
}

.bg-custom {
    background-color: #fff4ad; /* Couleur claire */
}

.footer {
    background-color: #fff4ad;
}

.presentation {
    background-color: #fff4ad;
    border: 1px solid #3c0d9c;
    border-radius: 10px;
    text-align: center;
    padding: 40px 20px;
}

.presentation h3 {
    font-size: 1.2rem;
    color: #3c0d9c;
}

.presentation .btn-custom {
    margin-top: 10px;
}

.agenda {
    background-color: #fff4ad;
    padding: 0px;
    border-radius: 8px;
    align-items: center;
}

.agenda h1 {
    font-size: 3rem;
    color: #3c0d9c;
}

.agenda h2 {
    font-size: 1.3rem;
    color: #3c0d9c;
}

.agenda h3 {
    font-size: 1.7rem;
    color: #3c0d9c;
}

.agenda p {
    font-size: 1rem;
    color: #3c0d9c;
}


/* Style pour la section Actualités */
.container.actus {
    padding: 2rem;
    background-color: rgba(255, 244, 173, 0.8);
    border-radius: 8px;
    max-width: 1200px;
    margin-bottom: -3rem;
    margin-top: 8rem;
}

.container.actus h1 {
    text-align: center;
    color: #3c0d9c;
    font-size: 3rem;
    margin-bottom: 0.6rem;
}

.container.actus h3 {
    text-align: center;
    color: #3c0d9c;
    font-size: 1.7rem;
    margin-bottom: 2rem;
}

.citronnade {
    color: #3c0d9c;
    font-size: 1.7rem;
}


.text-reset{
    cursor: pointer;
}


/* Section des lots de partenaires */
.archives h3 {
    font-size: 1.2rem;
    text-align: center;
    color: #3c0d9c;
    margin-bottom: 1rem;
}

.scrolling-wrapper {
    display: flex;
    overflow-x: auto;
    padding-bottom: 1rem;
    gap: 1rem;
}

.scrolling-wrapper::-webkit-scrollbar {
    height: 8px;
}

.scrolling-wrapper::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

.scrolling-wrapper::-webkit-scrollbar-thumb {
    background-color: #3c0d9c;
    border-radius: 4px;
}

.card {
    flex: 0 0 auto;
    width: 200px;
    background-color: transparent; 
    border: none;
    box-shadow: none;
    border-radius: 10px;
}

.year {
    margin-top: 0.5rem; 
    text-align: center; 
    color: #3c0d9c;
}

.img-archiv {
    width: 100%;
    height: auto;
    display: block;
}

/* Customisation du carousel */
.carousel-item {
    padding: 2rem 0;
}

.carousel-item .caption {
    padding: 1rem;
}

.carousel-item h3 {
    font-size: 2rem;
    color: #3c0d9c;
}

.carousel-item p {
    font-size: 1rem;
    color: #333;
    line-height: 1.4;
}

.carousel-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.carousel-indicators button {
    width: 12px;              
    height: 12px;
    border: none;
    opacity: 0.7;             
    transition: background-color 0.3s;
}
  

.carousel-indicators .active {
    background-color: #3c0d9c; 
    opacity: 1;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(55%);
    margin-top: 22rem;
}

.carousel-control-next-icon {
    margin-left: 5rem;
}

.carousel-control-prev-icon {
    margin-right: 5rem;
}

.carousel-wrapper {
    min-height: 600px;
    position: relative;
    overflow: hidden;  
}

.carousel,
.carousel-inner,
.carousel-item {
  height: 100%;
}

.custom-spacing-x1 {
    margin-bottom: 1.5rem;
}
  
  
.custom-spacing-x2 {
    margin-bottom: 3rem;
}

@media screen and (min-width: 1200px) {
    
}

@media (max-width: 767.98px) {
    body {
        font-size: 1rem; /* 16px */
    }

    .main-container {
        margin-top: 50rem;
    }

    .custom-margin {
        align-items: center;
    }

    .ligne-bloc {
        font-family: 'lecitroncamordregular', sans-serif;
        font-size: 1em;
        font-weight: 500;
        text-align: center;
        color: #3c0d9c;
        margin: 1rem 0;
        line-height: 1.5;
    }

    .presentation h3 {
        font-size: 1rem;
        color: #3c0d9c;
    }

    .background-fixed {
        background-size: 250%;
        left: 0;
        margin-top: 60px;
        margin-left: 40px;
        transform: scale(0.8);
        background-position: center top;
    }

    .btn-custom, .btn-custom-color {
        border-radius: 5px;
        padding: 0.5rem 1rem;
        font-size: 0.6rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: auto;
        min-height: 30px;
        transition: all 0.3s ease;
    }

    .nav-link{
        color: #3c0d9c;
        font-size: 1.3em;
        margin-top: 5px;
        margin-left: 25px;
    }

    .navbar-nav {
        align-items: center;
        background-color: transparent;
        margin-left: 15rem;
    }
    
    .navbar {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        background-color: transparent;
    }

}
    

@media (max-width: 575.98px) {
    .custom-margin {
        align-items: center;
    }

    .main-container {
        margin-top: 50rem;
    }

    .ligne-bloc {
        font-family: 'lecitroncamordregular', sans-serif;
        font-size: 1em;
        font-weight: 500;
        text-align: center;
        color: #3c0d9c;
        margin: 1rem 0;
        line-height: 1.5;
    }

    .section {
        margin-top: 2rem;
        
    }

    .presentation h3 {
        font-size: 1rem;
        color: #3c0d9c;
    }

    .btn-custom, .btn-custom-color {
        border-radius: 5px;
        padding: 0.5rem 1rem;
        font-size: 0.8rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: auto;
        min-height: 30px;
        transition: all 0.3s ease;
    }

    .nav-link{
        color: #3c0d9c;
        font-size: 1.3em;
        margin-top: 5px;
        margin-left: 25px;
    }

    .navbar-nav {
        align-items: center;
        background-color: transparent;
        margin-left: 15rem;
    }
    
    .navbar {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        background-color: transparent;
    }

    .agenda h2 {
        font-size: 1.4rem;
        color: #3c0d9c;
    }

}
